activemq-data/
.idea/
target/
.classpath
.project
.settings/
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.scg

javafx_lib/
release-jars/
#IntelliJ
*.iml
/.idea/

**/dependency-reduced-pom.xml
server/dependency-reduced-pom.xml
client/dependency-reduced-pom.xml
ai_client/dependency-reduced-pom.xml
dependency-reduced-pom.xml

# MacOS config files
.DS_Store
**/.DS_Store

.run/
